---
layout: handbook-page-toc
title: "Leadership Levels"
---


## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .toc-list-icons .hidden-md .hidden-lg}

{::options parse_block_html="true" /}

----

This page provides a breakdown of expectations within the [different leadership levels](/company/team/structure/).

## Director

#### Scope
1. <%= partial("scope_direction_and_leadership", :locals => { :roleName => "senior managers, managers, and/or Fellow/Distinguished or staff individual contributors" }) %>
1. Contributes to the development of product or department and/or divisional strategy
1. Typically part of the divisional leadership function and manages other teams or departments

#### Complexity
1. Directs the resolution of highly complex or unusual business problems that impact the department / team or GitLab
1. Uses boring solutions to think beyond existing challenges

#### Decision Making
1. Guided by divisional strategy, decisions impact overall success of department, team or GitLab operations
1. Contributions result in the development of innovative GitLab services or products
1. Makes sound decisions that support the strategy
1. Ability to align the day to day execution to divisional OKR's
1. Responsible for communicating top objectives and strategies to team members

#### Influencing ability
1. Negotiates and influences the opinions and decision making of internal senior leaders on matters of significance to the division
1. Guides process improvement and manages the rate and impact of change
1. Adapts plan in response to changing objectives
1. Promotes ideas persuasively, shaping others' opinions, and working through conflicts to win/win solutions

#### Leadership
1. Provides direction and develops long- range plans that affect a major area of GitLab
1. Communicates division strategy and makes sound decisions that support the strategy
1. Projects credibility and poise even in highly visible or adversarial situation, demonstrating professionalism and passion
1. Develops and leverages a high performance workforce to create a competitive advantage

#### Business Expertise
1. Uses financial information to make sound budgeting decisions

#### Functional Knowledge
1. <%= partial("functional_knowledge") %>

#### Values Alignment
1. <%= partial("values_alignment") %>
1. Lives by GitLab values and holds other to the same standard
1. Creates a culture of personal investment, excellence and accountability
1. Builds and deploys teams that leverage individual and collective capabilities
1. Actively sees out and invites alternative viewpoints in planning, discussion and decision making.

#### Remote Working
1. <%= partial("remote_work") %>

## Senior Director

#### Scope
1. <%= partial("scope_direction_and_leadership", :locals => { :roleName => "directors and/or senior managers" }) %>
1. Accountable for establishing quarterly OKR's for ensuring the performance and results of one or more teams
1. Develops and executes department strategy to achieve key OKRs

#### Complexity
1. Anticipates factors that could impact GitLab strategies and its position in the marketplace
1. Identifies and resolves strategic and GitLab wide problems or issues by developing new or innovative solutions
1. Consistently works with abstract ideas or situations across areas of the business, assessing variables, evaluating fundamental issues, and providing direction for major departments or teams

#### Decision Making
1. Decisions have a long-term effect on GitLab success
1. Plays a key role in corporate development of methods, techniques and evaluation criteria for projects, programs and people

#### Influencing ability
1. Regularly interacts with executives and/or major customers
1. Interactions frequently involved highly visible activities such as speaking with customers, influencing other executives and represents GitLab on matter of importance to the  organization
1. Continuously improving processes
1. Champions change and reinvents business practices or processes

#### Leadership
1. Provides strategy, vision and direction regarding issues that may have GitLab wide impact
1. Inspires managers to build and develop capabilities in others to meet our OKR's
1. Links strategy, priorities, team members, and assets to drive work efforts ahead and produce desired results
1. They ambitiously define roles for, grow and hire their teams for what is needed from the business in the short term and needed in the future

#### Business Expertise
1. Uses financial information to keep organization on budget and focused on right business priorities

#### Functional Knowledge
1. <%= partial("functional_knowledge") %>

#### Values Alignment
1. <%= partial("values_alignment") %>
1. Creates environment to encourage team member engagement
1. Develops leaders
1. Builds trust with other with others by demonstrating respect, valuing people and creating transparency

#### Remote Working
1. <%= partial("remote_work") %>

## VP

#### Scope
1. Sets vision and direction through resource allocation decisions for a significant department
1. Senior leader responsible for multiple departments and teams
1. Develops and implements strategic plans and objectives for the department in alignment with GitLab strategy; oversees direction and approves tactical administrative or operational policies and resource allocation decisions to ensure achievement of objectives

#### Complexity
1. Develops strategic plans to ensure successful implementation of action plans and objectives where analysis of situations or data requires and in depth knowledge of GitLab, competitive environment and department finances
1. Participates in the development of GitLab processes that impacts product, programs and team members
1. Typically approves budgets and and schedules to meet GitLab goals
1. Entails setting clear direction and priorities for cross-departmental teams, creating a shared purpose and objective and keeping teams focused on one vision

#### Decision Making
1. Erroneous decisions will have a serious impact on the overall success of long-term GitLab operations
1. Demonstrates personal accountability and ownership for decisions, results, and consequences.  Holding others accountable to agreed upon expectations by instilling discipline and a strong focus on executions and results

#### Influencing ability
1. Negotiates and influences opinions and decision making at the senior leadership level (internally and externally) on extremely critical matters, influencing policy making and changing the thinking of others on broad and complex issues that may fall outside of the organization function or function
1. Regularly interacts with executives and/or major customers
1. Interactions frequently involve highly visible activities such as speaking to or negotiating with customers, influencing other executives and represents GitLab on matter of great significance to the organization

#### Leadership
1. Leads change that maximizes results in their department and across GitLab
1. Displays drive and purpose
1. Open minded and flexible in thought and tactics
1. Develops a clear sense of mission, purpose, and long-term direction for the department and teams.  Helping team members understand why the desired outcomes are important
1. Develops and implements distinctive strategies to achieve competitive advantage, aligning departments to support strategic priorities
1. Sizes up and resourcefully responds to changing market conditions, new business challenges and new opportunities

#### Business Expertise
1. Uses financial indicators and analysis to manage overall financial performance and evaluate business opportunities
1. Deep understanding of organizational design for different phases of the organization

#### Functional Knowledge
1. <%= partial("functional_knowledge") %>

#### Values Alignment
1. <%= partial("values_alignment") %>
1. Role models all GitLab values
1. Models the development of a diverse an inclusive workforce and environment
1. Actively works to increase diversity in the succession pool

#### Remote Working
1. <%= partial("remote_work") %>

## CXO / EVP

#### Scope
1. Typically part of the E-group
1. Manages a GitLab Division
1. Sets vision and direction through resource allocation decisions for departments where each is typically led by a VP
1. Develops GitLab and/or divisional policies and authorizes their implementation.
1. Detailed knowledge of GitLab allows for innovative concepts and promoting new ideas.
1. Provides vision and direction to senior leaders and managers in various divisions, departments and/or teams.
1. Recognized as an influential leader within and outside of GitLab.

#### Complexity
1. Consistently works with abstract ideas or situation across all areas of the business.
1. Through assessment of intangible variables, identifies and evaluates core issues, providing strategy and direction for department and teams.
1. Requires in-depth knowledge of the Division , business strategies, and GitLab's goals as well as external factors affecting governance of GitLab activities.

#### Decision Making
1. Erroneous decisions may impact GitLab viability.
1. Makes well-informed, effective, and timely decisions, even when data is limited or solutions produce unpleasant consequences; perceives the impact and implication of decisions.

#### Influencing ability
1. Interacts internally and externally with executive level management or corporate leaders that requires negotiation skills on extremely critical matters.
1. Influences long-term vision and strategy of corporate consequence.
1. Works across organizational boundaries to build values and strategic partnerships
1. Proactively detects communication problems in their  division before they are observed by other divisions
1. Frequently help achieve results outside their own division

#### Leadership
1. Takes a long-term view and builds a shared vision with others; acts as a catalyst for organizational change.
1. Influences others to translate vision into action.
1. Positions GitLab for future success by identifying new opportunities; builds the organization in a global environment.
1. Holds self and others accountable for measurable, high-quality, timely, and cost-effective results.
1. Identifies new business opportunities and makes them a reality, championing innovation and risk-taking.
1. Gets a huge amount of things done by iterating quickly and training their departments / teams on iteration.
1. Hires and retains leaders that perform better in the function than they do.
1. Fosters a high standard of ethics and instills mutual trust and confidence.

#### Business Expertise
1. Uses knowledge of external trends and the organization's competitive advantage, aligning the organization to support strategic priorities

#### Functional Knowledge
1. Deep understanding of current and emerging technologies or methodologies in their division
1. Demonstrated ability to attract, retain and grow our talent
1. Ability to collaborate across all divisions effectively
1. Respect of fellow experts in the same field
1. Strong track record of emotional intelligence and soft skills (communication, leadership, developing others, inspiring others, conflict resolution, team building and decisiveness)

#### Values Alignment
1. <%= partial("values_alignment") %>
1. Integrates GitLab Values into all parts of the division
1. Champions a diverse and inclusive workforce and environment

#### Remote Working
1. <%= partial("remote_work") %>
